.content{
    width: 100%;
    .sendMessage{
        padding: 7px;
        background: rgb(224, 218, 218);
        &.light{
            color: black;
        }
        &.dark{
            color: black;
        }
        font-size: 1.1em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-top: 10px;
    }
    .loadPhoto{
        position: relative;
        height: 100px;
        input[type="file"]{
            display: none;
         }
        label{
            color: rgb(0, 0, 0);
            height: 30px;
            width: 100%;
            border-radius: 20px;
            font-size: 1.05rem;
            background: rgb(234, 226, 226);
            position: absolute;
            margin: 20px auto;
            padding: 4px 0px 5px 0px;
            font-weight: 500;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
         }
         label:hover{
             transition-duration: 1s;
             font-size: 1.2em;
             cursor: pointer;
         }
    }
    .userName{
        margin: 0em 0em 0.5em 2em;
    }
}

.avatar{
    display: flex;
    justify-content: center;
    img{
        height: auto;
        width: 80%;
        border-radius: 30px;
    }
}

@media screen and (max-width: 768px){
    .content{
        .loadPhoto{
            height: 70px;
            label{
                margin-left: 2rem;
                width: 70%;
            }
        }
    }
    .avatar{
        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }
}

@media screen and (max-width: 1200px){
    .loadPhoto{
        padding: 1.5%;
        label{
            font-size: 1em;
            padding: 2px 0px 2px 0px;
        }
        label:hover{
                font-size: 1.1em;
               }
    }
}

@media screen and (max-width: 992px){
    .loadPhoto{
        label{
           font-size: 0.8rem !important;
           padding: 0px 0px 0px 0px;
        }
        label:hover{
            font-size: 0.9rem;
        }
    }
}

@media screen and (max-width: 768px){
    .content{
        .sendMessage{
            font-size: 0.9rem;
            width: 80%;
            margin-left: 2rem;
            padding: 4px;
        }
    }
    .loadPhoto{
        label{
            font-size: 0.7rem !important;
        }
        label:hover{
           font-size: 0.8rem !important;
        }
    }
}

@media screen and (max-width: 520px){
    .loadPhoto{
        label{
            width: 75% !important;
        }
    }
}

@media screen and (max-width: 320px){
    .loadPhoto{
        label{
            width: 80% !important;
        }
    }
}