@import "../../../../adaptive-tools";

.content{
    width: 100%;
    .sendMessage{
        padding: vh(7px) vw(7px);
        background: rgb(224, 218, 218);
        &.light{
            color: black;
        }
        &.dark{
            color: black;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-top: vh(10px);
    }
    .loadPhoto{
        position: relative;
        height: vh(100px);
        input[type="file"]{
            display: none;
         }
        label{
            color: rgb(0, 0, 0);
            height: vh(30px);
            width: 100%;
            border-radius: 20px;
            background: rgb(234, 226, 226);
            position: absolute;
            margin: vh(20px) auto;
            padding: vh(4px) 0 vh(5px) 0;
            font-weight: 500;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
         }
         label:hover{
             transition-duration: 1s;
             cursor: pointer;
         }
    }
    .userName{
        display: none;
    }
}

.avatar{
    display: flex;
    justify-content: center;
    img{
        height: auto;
        width: 80%;
        border-radius: 30px;
    }
}


@media screen and (max-width: $mobile-screen-vw) {
    .avatar{
        img{
            height: 100%;
            width: 100%;
        }
    }
    .content {
        padding: 10px 15px 40px 15px;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        .userName {
            display: block;
            margin: 0 0 vh(8px) vw(10px);
        }
        .sendMessage {
            padding: mobile_vh(7px) mobile_vw(7px);
            margin-top: mobile_vh(10px);
        }
        .loadPhoto {
            width: 100%;
            label {
                height: mobile_vw(40px);
                padding: mobile_vh(4px) 0 mobile_vh(5px) 0;
                margin-top: vh(100px);
            }
        }
    }
}

