@import "../../../../adaptive-tools";

.info__input{
    form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .info__item{
        display: flex;
        width: 100%;
        line-height: 180%;
        input{
            width: 43%;
            border-radius: 10px;
            padding: vh(8px) vw(8px);
        }
    }
    .info__showed {
        width: 100%;
    }
    .info__save{
        margin-top: vh(10px);
    }
    .info__key{
        padding-left: vw(8px);
        font-weight: 500;
        word-break: break-all;
        width: 50%;
    }
    .info__hidden{
        display: none;
    }
    .show__buttonWrap{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 5px;
        width: 98%;

        #show__button{
            width: 95%;
            height: vh(37px);
            border-radius: 10px;
            background: rgb(234, 226, 226);
            color: rgb(0, 0, 0);
            border: none;
            margin: vh(10px) 0px;
        }
        #show__button:hover{
            height: vh(37px);
            border-radius: 10px;
            background: rgb(207, 203, 232);
            color: rgb(0, 0, 0);
            transition-duration: 1s;
            cursor: pointer;
        }
    }
}


@media screen and (max-width: $mobile-screen-vw) {
    .info__input{
        form{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .info__item{
            width: 100%;
            margin: 8px 0;

            input{
                padding: mobile_vh(5px) mobile_vw(5px);
            }
        }

        .info__key{
            padding-left: mobile_vw(8px);
        }
        .info__showed {
            width: 100%;
        }
        .show__buttonWrap{
            width: 98%;
            #show__button{
                height: mobile_vw(40px);
                margin: mobile_vh(10px) 0;
            }
            #show__button:hover{
                height: mobile_vw(40px);
            }
        }
    }
}