@import "../../../../adaptive-tools";

.profile__textarea{
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    margin-top: vh(10px);
    &.dark{
        background: rgb(32, 31, 31);
        textarea{
            background: rgb(94, 91, 91);
            color: white;
            &::placeholder{
                color: white;
            }
        }

    }
    textarea{
        min-height: vh(70px);
        width: 90%;
        background: rgb(255, 246, 246);
        padding: vh(10px) vw(10px);
        border-top-right-radius: 8px;
    }
    button{
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}
.profile__posts {
    border-radius: 10px;
    margin-top: vh(10px);
    &-item {
        margin-top: vh(20px);
    }
    &.dark{
        background: rgb(32, 31, 31);
    }
    ul{
        line-height: 170%;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li{
        padding: 0;
        margin: vh(10px) 0;
        max-width: 100%;
    }
    &Photo{
        display: flex;
        span{
            padding-left: vw(15px);
            font-weight: 600;
        }
    }
    &Photo img{
        height: vh(50px);
        width: vw(50px);
        border-radius: 50%;
    }
    &Post{
        span{
            display: inline-block;
            border-left: vw(4px) solid rgb(99, 255, 47);
            margin-left: vw(10px);
            padding-left: vw(10px);
        }
    }
    &Like{
        display: inline-block;
        padding-top: vh(3px);
        border-radius: 15px;
        button{
            width: 100%;
            display: flex;
            align-items: center;
            background: rgba(221, 217, 217, 0.903);
            color: black;
            border: none;
            border-radius: 10px;
            box-shadow: none;
        }
    }
    &Unlike{
        display: inline-block;
        padding-top: vh(3px);
        border-radius: 15px;
        button{
            width: 100%;
            display: flex;
            align-items: center;
            background: rgba(221, 217, 217, 0.903);
            color: black;
            border: none;
            border-radius: 10px;
            box-shadow: none;
        }
    }
}


@media screen and (max-width: $mobile-screen-vw) {
    .profile__textarea{
        margin-top: mobile_vh(10px);
        textarea{
            min-height: mobile_vh(70px);
            padding: mobile_vh(10px) mobile_vw(10px);
        }
    }
    .profile__posts{
        margin-top: mobile_vh(10px);
        li{
            margin: mobile_vh(10px) 0;
        }
        &Photo{
            span{
                padding-left: mobile_vw(15px);
            }
        }
        &Photo img{
            height: mobile_vh(50px);
            width: mobile_vw(50px);
        }
        &Post{
            span{
                border-left: mobile_vw(4px) solid rgb(99, 255, 47);
                margin-left: mobile_vw(10px);
                padding-left: mobile_vw(10px);
            }
        }
        &Like{
            padding-top: mobile_vh(3px);
            button{
            }
        }
        &Unlike{
            padding-top: mobile_vh(3px);
            button{
            }
        }
    }
}