@import "../../adaptive-tools";


.chat{
    box-sizing: border-box;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 2%;
    margin-top: vh(10px);
    border-radius: 1rem;
    &.light{
        background: white;
    }
    &.dark{
        background: rgb(32, 31, 31);
    }
    a{
        color: black;
        text-decoration: none;
    }
    &__body{
        height: 70vh;
        overflow-y: scroll;
        img{
            height: vh(80px);
            width: vw(80px);
            border-radius: 50%;
        }
    }
    &__message{
        display: flex;
        border-bottom: 1px solid gray;
        margin-top: vh(25px);
        padding-bottom: vh(25px);
    }
    &__info{
        padding-left: vw(20px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__name{
        padding-bottom: vh(25px);
        font-style: italic;
    }
    &__text{
        padding-bottom: vh(12px);
        word-break: break-all;
    }
    &__input{
        display: flex;
        align-items: flex-end;
        box-sizing: border-box;
        &.light{
            textarea{
                color: black;
            }
        }
        &.dark{
            textarea{
                color: white;
            }
        }
        button{
            display: block;
            height: 100%;
            margin-left: vw(5px);
            margin-bottom: vh(8px);
            background: rgba(255, 255, 255, 0) !important;
            border: none;
            box-shadow: none;
            border-radius: none;
            svg{
                color: rgb(167, 167, 230);
                width: vw(43px);
                height: vh(43px);
            }
        }
        textarea{
            box-sizing: border-box;
            min-height: vh(100px);
            max-height: vh(250px);
            width: 90%;
            padding: vh(10px) vw(10px);
            border-radius: 20px;
            border: none;
            background: rgba(103, 179, 249, 0.225);
            overflow-y: auto;
        }
    }
}



@media screen and (max-width: $mobile-screen-vw) {
    .chat{
        height: calc(100vh - 80px - 80px);
        margin-top: mobile_vh(10px);
        &__body{
            height: calc(94vh - 80px - 70px - 90px);
            img{
                height: mobile_vh(80px);
                width: mobile_vw(80px);
            }
        }
        &__message{
            margin-top: mobile_vh(20px);
            padding-bottom: mobile_vh(10px);
        }
        &__info{
            padding-left: mobile_vw(20px);
        }
        &__name{
            padding-bottom: mobile_vh(25px);
        }
        &__text{
            padding-bottom: mobile_vh(12px);
        }
        &__input{
            button{
                margin-left: mobile_vw(5px);
                margin-bottom: mobile_vh(8px);
                svg{
                    width: mobile_vw(43px);
                    height: mobile_vh(43px);
                }
            }
            textarea{
                min-height: mobile_vh(100px);
                max-height: mobile_vh(120px);
                padding: mobile_vh(10px) mobile_vw(10px);
            }
        }
    }
 
}