@import "../../../adaptive-tools";

.profileFace{
    box-sizing: border-box;
    width: 30%;
    height: fit-content;
    border-radius: 1.6rem;
    padding: vh(16px) vw(16px);
    &.light{
        background: white;
    }
    &.dark{
        background: rgb(32, 31, 31);
    }
    a{
        color: black;
        text-decoration: none;
    }
}

@media screen and (max-width: $mobile-screen-vw){
    .profileFace{
        display: flex;
        width: 100%;
        border-radius: 0;
        padding: mobile_vh(16px) mobile_vw(16px) mobile_vh(16px) mobile_vw(32px);
    }
}
