.profile{
    width: 88%;
    background:gainsboro;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

@media screen and (max-width: 768px) {
    .profile{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}