.info__text{
    .info__item{
        display: flex;
        line-height: 180%;
        span{
            width: 50%;
        }
    }
    .info__key{
        padding-left: 8px;
        font-weight: 500;
    }
    .info__value{
        word-break: break-all;
    }
    .info__hidden{
        display: none;
    }
    .info__zero{
        display: flex;
        justify-content: center;
        font-size: 1.3em;
        margin: 17px 0px 0px 0px;
        font-weight: 500;
        font-style: oblique;
    }
    .show__buttonWrap{
        display: flex;
        flex-direction: row;
        justify-content: center;
        #show__button{
            width: 95%;
            height: 37px;
            border-radius: 10px;
            font-size: 1em;
            background: rgb(234, 226, 226);
            color: rgb(0, 0, 0);
            border: none;
            margin: 10px 0px;
        }
        #show__button:hover{
            width: 100%;
            height: 37px;
            border-radius: 10px;
            font-size: 1.15em;
            background: rgb(207, 203, 232);
            color: rgb(0, 0, 0);
            transition-duration: 1s;
            cursor: pointer;
        }
    }
    .info__buttonarea{
        margin: 20px 0px 0px 0px;
    }
}
