@import "../../../../adaptive-tools";

.info__text{
    .info__item{
        display: flex;
        line-height: 180%;
        span{
            width: 50%;
        }
    }
    .info__key{
        padding-left: vw(8px);
        font-weight: 500;
        word-break: break-all;
    }
    .info__value{
        word-break: break-all;
    }
    .info__hidden{
        display: none;
    }
    .info__zero{
        display: flex;
        justify-content: center;
        margin-top: vh(18px);
        font-weight: 500;
        font-style: oblique;
    }
    .show__buttonWrap{
        display: flex;
        flex-direction: row;
        justify-content: center;
        #show__button{
            width: 95%;
            height: vh(37px);
            border-radius: 10px;
            background: rgb(234, 226, 226);
            color: rgb(0, 0, 0);
            border: none;
            margin: vh(10px) 0;
        }
        #show__button:hover{
            width: 100%;
            height: vh(37px);
            border-radius: 10px;
            background: rgb(207, 203, 232);
            color: rgb(0, 0, 0);
            transition-duration: 1s;
            cursor: pointer;
        }
    }
    .info__buttonarea{
        margin-top: vh(20px);
    }
}


@media screen and (max-width: $mobile-screen-vw) {
    .info__text{
        .info__key{
            padding-left: mobile_vw(8px);
        }
        .info__zero{
            margin-top: mobile_vh(18px);
        }
        .info__item {
            margin: 10px 0;
        }
        .show__buttonWrap{
            #show__button{
                height: mobile_vh(37px);
                margin: mobile_vh(10px) 0;
            }
            #show__button:hover{
                height: mobile_vh(37px);
            }
        }
        .info__buttonarea{
            margin-top: mobile_vh(20px);
        }
    }
}