.dialogs__messages{
    height: 400px;
    overflow-y: scroll;
}
.selecting{
    display: flex;
    background: rgb(103, 103, 255);
    z-index: 100;
    position: sticky;
    top: 0;
    left: 0;
    button{
        height: 40px;
        background: rgb(66, 5, 135);
        color: white;
        font-size: 1.3em;
        border: 2px solid black;
    }
}