@import "../../../adaptive-tools";


$selecting-height: vh(40px);

.dialogs__messages{
    position: relative;
    height: vh(650px);
    overflow-y: auto;
    padding: vh(10px) vw(10px);
    &Zero{
        display: flex;
        height: vh(650px);
        padding: vh(178px) 0 vh(178px) 0;
        justify-content: center;
        align-items: center;
    }
}
.selecting{
    position: sticky;
    display: flex;
    z-index: 100;
    top: 0;
    left: 0;
    max-height: $selecting-height;
    button{
        height: $selecting-height;
        background: rgb(66, 5, 135) !important;
        color: white;
        border: 2px solid black;
        margin-right: vw(10px);
    }
}


@media screen and (max-width: $mobile-screen-vw) {
    .dialogs__messages{
        height: calc(100% - mobile_vh(180px));
        border-radius: 0;
        padding: mobiel_vh(10px) mobiel_vw(10px);
        &Zero{
            height: 75%;
            padding: mobiel_vh(178px) 0 mobiel_vh(178px) 0;
        }
    }
    .selecting{
        button{
            height: $selecting-height;
            margin-right: mobiel_vw(10px);
        }
    }
}