.users{
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    // background: #4d5061;
    width: 88%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    &__classic{
        margin: 0px 0px 0px 0px;
    }
    &__flexible{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__view{
        display: flex;
        justify-content: space-between;
        padding: 10px 12px 0px 12px;
    }
}