@import "../../adaptive-tools";


.app{
    min-height: 100vh;
    width: 100%;
    position: relative;  
}
.container{
    display: flex;
    min-height: 100vh;
    width: 70%;
    padding: vh(70px) 0 vh(90px) 0;
    margin: 0 auto;
}


@media screen and (max-width: $mobile-screen-vw) {
    .container{
        width: 100%;
        padding: mobile_vh(70px) 0 mobile_vh(90px) 0;
    }
}