.app{
    min-height: 100vh;
    width: 100%;
    position: relative;  
}
.container{
    display: flex;
    min-height: 100vh;
    width: 70%;
    padding: 70px 0px 90px 0px;
    margin: 0 auto;
}


@media screen and (max-width: 768px) {
    .container{
        width: 100%;
    }
}