@import "../../adaptive-tools";


.app{
    min-height: 100vh;
    width: 100%;
    position: relative;  
}
.container{
    display: flex;
    min-height: 100vh;
    width: 70%;
    padding: vh(70px) 0 vh(90px) 0;
    margin: 0 auto;
}


@media screen and (max-width: $mobile-screen-vw) {
    .container{
        padding-top: 35px;
        height: calc(100vh - mobile_vh(80px) - 40px);
        width: 100%;
    }
}