@import "../../../adaptive-tools";


.filter{
    width: 100%;
    &__term{
        height: vh(30px);
        width: 15vw;
        background: #4d5061;
        border: none;
        padding: vh(1px) vw(32px) 0 vh(7px);
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        color: white;
    }
    &__selectWrap{
        position: relative;
        display: inline-block;
    }
    &__select{
        height: vh(30px);
        width: vw(180px);
        padding: 0 vh(32px) 0 vh(7px);
        margin-left: 10px;
        background: #4d5061;
        color: white;
        border: 0;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
    &__arrow{
        position: absolute;
        top: 0;
        right: 0;
        padding-left: vw(7px);
        display: block;
        background: #3b3e49;
        height: 100%;
        width: vw(24px);
        pointer-events: none;
    }
    &__arrow::before,
    &__arrow::after{
        --size: 7px;
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 30%;

    }
    &__arrow::before{
        border-left: var(--size) solid transparent;
        border-right: var(--size) solid transparent;
        border-bottom: var(--size) solid #8f92a7;
    }
    &__arrow::after{
        border-left: var(--size) solid transparent;
        border-right: var(--size) solid transparent;
        border-top: var(--size) solid #8f92a7;
        top: 70%;
    }
    &__button{
        height: vh(30px);
        padding: 0 vw(10px);
        letter-spacing: 0.2ch;
        margin-left: vw(10px);
        background: #4d5061;
        font-weight: 600;
        font-style: italic;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
}
form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: vh(10px);
    margin-top: vh(5px);
}



@media screen and (max-width: $mobile-screen-vw){
    .filter {
        &__term {
            width: 25vw; //Don't delete this line !
            height: mobile_vh(30px);
            padding: vh(1px) vw(32px) 0 vh(7px);
        }
        &__select {
            height: mobile_vh(30px);
            width: mobile_vw(180px);
            padding: 0 mobile_vh(32px) 0 mobile_vh(7px);
            margin-left: 10px;
        }

        &__arrow {
            top: 4px;
            padding-left: mobile_vw(7px);
            width: mobile_vw(22px);
        }

        &__arrow::before,
        &__arrow::after {
            --size: 7px;
            content: '';
            position: absolute;
            width: 0;
            height: 0;
        }

        &__button {
            height: mobile_vh(30px);
            padding: 0 mobile_vh(10px);
            margin-left: mobile_vw(10px);
        }
    }
    form{
        margin-bottom: mobile_vh(10px);
        margin-top: mobile_vh(5px);
    }
}