.message{
    &__my{
        display: flex;
        justify-content: end;
        margin: 0px 0px 10px 0px;
        span{
            background: rgb(132, 11, 219);
            color: white;
            border-radius: 10px;
            padding: 5px;
        }
    }
    &__friend{
        display: flex;
        justify-content: start;
        margin: 0px 0px 10px 0px;
        span{
            background: rgb(64, 11, 210);
            color: white;
            border-radius: 10px;
            padding: 5px;
        }
    }
    &__selected{
        background: rgb(18, 113, 197);
    }
}