.message{
    &__my{
        display: flex;
        justify-content: end;
        margin: 0px 0px 10px 0px;
    }
    #message__time{
        font-size: 0.7em;
        padding-left: 10px;
    }
    #message__text{
        font-size: 1.1em;
        padding-left: 5px;
        word-break: break-all;
    }
    .my__wrapper{
        display: inline-block;
        background: rgb(132, 11, 219);
        color: white;
        border-radius: 10px;
        padding: 5px;
    }
    .friend__wrapper{
        display: inline-block;
        background: rgb(132, 11, 219);
        color: white;
        border-radius: 10px;
        padding: 5px;
        span{
            font-size: 0.8em;
        }
    }
    &__friend{
        display: flex;
        justify-content: start;
        margin: 0px 0px 10px 0px;
        span{
            color: white;
            border-radius: 10px;
            padding: 5px;
        }
    }
    &__selected{
        background: rgb(18, 113, 197);
    }
    #message__viewed{
        font-size: 0.7em;
        margin-left: 10px;
    }
}