@import "../../../../adaptive-tools";


.message{
    &__my{
        display: flex;
        justify-content: end;
        margin-top: vh(10px);
    }
    &__property {
        margin-bottom: vh(10px);
    }
    #message__time{
        padding-left: vw(10px);
    }
    #message__text{
        padding-left: vw(5px);
        word-break: break-all;
    }
    .my__wrapper{
        display: inline-block;
        background: rgb(132, 11, 219);
        color: white;
        border-radius: 10px;
        padding: vh(5px) vw(5px);
    }
    .friend__wrapper{
        display: inline-block;
        background: rgb(132, 11, 219);
        color: white;
        border-radius: 10px;
        padding: vh(5px) vw(5px);
        span{
        }
    }
    &__friend{
        display: flex;
        justify-content: start;
        margin-top: vh(10px);
        span{
            color: white;
            border-radius: 10px;
            padding: vh(5px) vw(5px);
        }
    }
    &__selected{
        background: rgb(18, 113, 197);
    }
    #message__viewed{
        margin-left: vw(10px);
    }
}



@media screen and (max-width: $mobile-screen-vw) {
    .message{
        &__my{
            margin-top: mobile_vh(10px);
        }
        &__property {
            margin-bottom: mobile_vh(10px);
        }
        #message__time{
            padding-left: mobile_vw(10px);
        }
        #message__text{
            padding-left: mobile_vw(5px);
        }
        .my__wrapper{
            padding: mobile_vh(5px) mobile_vw(5px);
        }
        .friend__wrapper{
            padding: mobile_vh(5px) mobile_vw(5px);
            span{
            }
        }
        &__friend{
            margin-top: mobile_vh(10px);
            span{
                padding: mobile_vh(5px) mobile_vw(5px);
            }
        }
        #message__viewed{
            margin-left: mobile_vw(10px);
        }
    }
}