@import "../../../adaptive-tools";


.header{
    display: flex;
    padding: vh(10px) vh(10px) vw(15px) 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    &.light{
        span{
            color: black;
        }
    }
    &.dark{
        span{
            color: white;
        }
    }
    &__name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a{
            text-decoration: none;
            color: black;
            margin-bottom: vh(10px);
        }
        span{
            text-decoration: none;
            color: black;
        }
    }
    &__name span:hover{
        border-bottom: 2px solid gray;
    }
    &__back{
        display: flex;
        align-items: center;
        cursor: pointer;
        span{
            margin-left: vw(15px);
        }
        svg{
            padding: 0;
        }
        svg:hover{
            color: blue;
        }
    }
    &__back span:hover{
        border-bottom: 1px solid gray;
    }
    img{
        height: vh(55px);
        width: vw(55px);
        border-radius: 50%;
    }
}
.dialogs__listening{
    word-break: break-word;
    line-height: 180%;
    background: rgba(27, 9, 60, 0) !important;
    box-shadow: none !important;
    width: vw(200px) !important;
    height: unset !important;
    max-height: unset !important;
    padding: vh(5px) vw(15px) !important;
}



@media screen and (max-width: $mobile-screen-vw) {
    .header{
        padding: mobile_vh(10px) mobile_vh(10px) mobile_vw(15px) 0;
        &__name{
            a{
                margin-bottom: mobile_vh(10px);
            }
        }
        &__back{
            span{
                margin-left: mobile_vw(15px);
            }
        }
        img{
            height: mobile_vh(55px);
            width: mobile_vw(55px);
        }
    }
    .dialogs__listening{
        width: mobile_vw(200px) !important;
        padding: mobile_vh(5px) mobile_vw(15px) !important;
    }
}