.header{
    background: rgb(255, 255, 255);
    display: flex;
    img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        margin: 0px 0px 0px 233px;
    }
    &__login{
        margin: 10px 0px 0px 894px;
    }
    &__authorized{
        span{
            font-size: 1.3em;
        }
        button{
            font-size: 0.8em;
            margin: 0px 0px 0px 50px;
        }
    }
    &__notauthorized{
        font-size: 1.3em;
        margin: 0px 0px 0px 23px;
    }
}