.active{
    color: rgb(255, 149, 0);
    .navItem{
        transition-property: background;
        transition-duration: 1s;
        font-size: 105%;
        background: rgb(68, 66, 66) !important;
    }
}

