.navBar{
    width: 20%;
    background: gainsboro;
    font-size: 125%;
    line-height: 170%;
    img{
        height: auto;
        width: 12.1%;
        padding-top: 2px;
    }
    ul{
        list-style: none;
        padding: 0px 20px 0px 0px;
        a{
            text-decoration: none;
            color: rgb(27, 9, 60);
        }
        li{
            display: flex;
            align-items: center;
            border-radius: 0.9rem;
            img{
                margin-right: 10px;
            }
            padding-left: 10px;
            margin-bottom: 5%;
        }
        li:hover{
            transition-duration: 0.3s;
            background: rgba(255, 255, 255, 0.633);
        }
    }

}
