.navBar{
    min-width: 22%;
    background: gainsboro;
    font-size: 1.3em;
    line-height: 170%;
    img{
        height: 18px;
        width: 18px;
        padding-top: 2px;
    }
    ul{
        list-style: none;
        padding: 0px 20px 0px 20px;
        a{
            text-decoration: none;
            color: rgb(27, 9, 60);
        }
        li{
            display: flex;
            align-items: center;
            border-radius: 15px;
            img{
                margin-right: 10px;
            }
            padding-left: 10px;
            margin-bottom: 10px;
        }
        li:hover{
            transition-duration: 0.3s;
            background: rgb(246, 243, 243);
        }
    }

}
