.profile__body{
    box-sizing: border-box;
    width: 68%;
    background: white;
    border-radius: 1rem;
    padding: 2%;
    font-size: 1.1em;
    &_mobile{
        box-sizing: border-box;
        width: 88%;
        background: white;
        border-radius: 1rem;
        padding: 2%;
        font-size: 0.9em;
    }
}
.profile__posts_wrapper{
    font-size: 1.3rem;
    margin: 20px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    &_mobile{
        font-size: 1.1rem;
        margin: 20px 0px;
        padding-bottom: 10px;
        border-bottom: 1px solid gray;
    }
}

@media screen and (max-width: 1200px){
    .profile__posts_wrapper{
        font-size: 1.1rem;
    }
    .profile__body{
        font-size: 1em;
    }
}
@media screen and (max-width: 992px){
    .profile__posts_wrapper{
        font-size: 1rem;
    }
    .profile__body{
        font-size: 0.85em;
    }
}