.profile__body{
    box-sizing: border-box;
    width: 68%;
    background: white;
    border-radius: 1rem;
    padding: 2%;
    font-size: 1.1em;
}
.profile__posts_wrapper{
    font-size: 1.4rem;
    margin: 20px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}