@import "../../adaptive-tools";


.page{
    box-sizing: border-box;
    width: 80%;
}

@media screen and (max-width: $mobile-screen-vw) {
    .page{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }
}