.user__classic{
    display: flex;
    box-sizing: border-box;
    max-width: 87%;
    margin: 10px 0px 20px 12px;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid gray;
    a{
        color: black;
        text-decoration: none;
    }
    .classic__img{
        img{
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
    }
    .classic__following{
        button{
            min-width: 80px;
        }
    }
    .classic__name{
        font-size: 1.20em;
        font-style: italic;
        margin: 0px 0px 10px 0px;
    }
    .classic__nameWrapper{
        padding: 0px 0px 0px 20px;
    }
    #classic__write{
        background: rgb(28, 250, 165);
        color: black;
        font-weight: 600;
        margin-left: 20px;
    }
}
.user__flexible{
    width: 27%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    // padding: 15px 0px;
    // margin: 15px 0px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin-top: 10px;
    a{
        color: black;
        text-decoration: none;
    }
    .flexible__img{
        img{
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
    }
    .flexible__name{
        margin: 0px 0px 25px 0px;
        font-style: italic;
        font-size: 1.20em;
    }
    .flexible__nameWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .flexible__following{
        button{
            width: 80px;
        }
    }
    #flexible__write{
        background: rgb(28, 250, 165);
        color: black;
        font-weight: 600;
        width: auto;
        margin: 0px 0px 0px 0px;
    }
}
.user__unfollow{
    background: rgb(52, 253, 159);
    color: black;
    font-weight: 600;
    padding: 0px;
}