@import "../../../adaptive-tools";


.user__classic{
    display: flex;
    box-sizing: border-box;
    max-width: 87%;
    margin: vh(10px) 0 vh(20px) vw(12px);
    padding-bottom: vh(10px);
    border-bottom: vh(1px) solid gray;
    a{
        color: black;
        text-decoration: none;
    }
    .classic__img{
        img{
            width: vw(70px);
            height: vw(70px);
            border-radius: 50%;
        }
    }
    .classic__following{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        button{
            margin-right: vw(10px);
            &:hover{
                background: #3aea8d;
                color: white;
                transition-duration: 0.2s;
            }
        }
    }
    .classic__name{
        font-style: italic;
        margin-bottom: vh(10px);
        word-wrap: break-word;
        span{
            font-size: vw(24px);
        }
    }
    .classic__nameWrapper{
        padding-left: vw(20px);
    }
    .classic__write-button{
        background: rgb(28, 250, 165);
        color: black;
        font-weight: 600;
    }
}

.user__flexible{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 5px vw(5px);
    width: 27%;
    min-height: vh(190px);
    border-radius: 15px;
    margin-top: vh(10px);
    &.light{
        border: 1px solid rgb(0, 0, 0);
    }
    &.dark{
        border: 1px solid gray;
    }
    a{
        color: black;
        text-decoration: none;
    }
    .flexible__img{
        img{
            width: vw(90px);
            height: vw(90px);
            border-radius: 50%;
        }
    }
    .flexible__name{
        margin-bottom: vh(14px);
        font-style: italic;
        span{
            word-break: break-all;
        }
    }
    .flexible__nameWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flexible__following{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: vh(14px);
        button{
            margin-top: vh(10px);
            width: 100%;
            color: #3b0c5d;
            letter-spacing: 0.1ch;
            font-weight: 600;
            &:hover{
                background: #3aea8d;
                color: white;
                transition-duration: 0.2s;
            }
        }
    }
    .flexible__write-button{
        background: rgb(28, 250, 165);
        color: black;
        margin: 0;
    }
}
.user__unfollow{
    background: rgb(52, 253, 159);
    color: black;
    &:hover{
        background: #a97ce1;
        color: white;
        transition-duration: 0.2s;
    }
}

.flexible__follow-button {
    color: white !important;
}



@media screen and (max-width: $mobile-screen-vw) {
    .user__classic{
        margin: mobile_vh(10px) 0 mobile_vh(20px) mobile_vw(12px);
        padding-bottom: mobile_vh(10px);
        border-bottom: mobile_vh(1px) solid gray;
        .classic__img{
            img{
                width: mobile_vw(100px);
                height: mobile_vw(100px);
            }
        }
        .classic__following{
            button{
                margin-right: mobile_vw(10px);
                span{
                    font-size: mobile_vw(18px);
                }
            }
        }
        .classic__name{
            margin-bottom: mobile_vh(10px);
            span{
                font-size: mobile_vw(24px);
            }
        }
        .classic__nameWrapper{
            padding-left: mobile_vw(20px);
        }
        .classic__write-button{

        }
    }

    .user__flexible{
        padding: mobile_vh(5px) mobile_vw(5px);
        min-height: mobile_vw(280px);
        margin-top: mobile_vh(10px);
        width: 40%;
        .flexible__img {
            img{
                width: mobile_vw(100px);
                height: mobile_vw(100px);
            }
        }
        .flexible__name{
            margin-bottom: mobile_vh(14px);
        }
        .flexible__following{
            margin-bottom: mobile_vh(14px);
            button{
                margin-top: mobile_vh(10px);
            }
        }
    }
}