@import "../../../adaptive-tools";


.dialogs__input{
    display: flex;
    align-items: flex-end;
    &.light{
        textarea{
            color: black;
        }
    }
    &.dark{
        textarea{
            color: white;
        }
    }
    button{
        display: block;
        height: 100%;
        margin-left: vw(5px);
        margin-bottom: vh(8px);
        background: rgba(255, 255, 255, 0);
        border: none;
        box-shadow: none;
        border-radius: unset;
        svg{
            color: rgb(167, 167, 230);
            width: vw(43px);
            height: vh(43px);
        }
    }
    textarea{
        box-sizing: border-box;
        min-height: vh(70px);
        max-height: vh(150px);
        width: 90%;
        padding: vh(10px) vw(10px);
        border-radius: 20px;
        border: none;
        background: rgba(103, 179, 249, 0.225);
        overflow-y: auto;
    }
}



@media screen and (max-width: $mobile-screen-vw) {
    .dialogs__input{
        button{
            margin-left: mobile_vw(5px);
            margin-bottom: mobile_vh(8px);
            svg{
                width: mobile_vw(43px);
                height: mobile_vh(43px);
            }
        }
        textarea{
            min-height: mobile_vh(70px);
            max-height: mobile_vh(150px);
            padding: mobile_vh(10px) mobile_vw(10px);
        }
    }

}
