@import "../../adaptive-tools";


$main-light-background-color: rgb(249, 244, 244);
$main-dark-background-color: rgb(17, 17, 17);

$input-top-padding: vh(3px);
$input-side-padding: vw(8px);

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    box-sizing: border-box;
    width: 50%;
    padding: 2%;
    border-radius: 1rem;
    &.light{
        background: white;
    }
    &.dark{
        background: rgb(32, 31, 31);
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__email{
        box-sizing: border-box;
        margin: vh(10px) 0;
        width: 90%;
        input{
            box-sizing: border-box;
            padding: vh(10px) vw(10px);
            width: 100%;
            border-radius: 10px;
            font-size: vw(18px);
        }
        &-header {
            margin-bottom: vh(15px);
        }
        &.error{
            input{
                border: 2px solid rgb(248, 11, 11);
            }
            span{
                margin: 0 0 0 vw(24px);
                font-size: vw(18px);
                color: rgb(240, 36, 36);
            }
        }
    }

    &__password{
        box-sizing: border-box;
        margin: vh(10px) 0;
        width: 90%;
        &-header {
            margin-bottom: vh(15px);
        }
        input{
            box-sizing: border-box;
            padding: vh(10px) vw(10px);
            width: 100%;
            border-radius: 10px;
            font-size: vw(16px);
        }
    }

    &__password{
        &.error{
            margin: vh(10px) 0;
            input{
                border-radius: 10px;
                padding-left: vw(8px);
                font-size: vw(16px);
                border: 2px solid rgb(248, 11, 11);
            }
            span{
                margin-left: vw(24px);
                font-size: vw(18px);
                color: rgb(240, 36, 36);
            }
        }
    }
    &__rememberMe{
        display: flex;
        align-items: flex-end;
        margin: vh(10px) 0 vh(20px) 0;
        width: 90%;
        input{
            height: vh(20px);
            width: vw(20px);
            box-shadow: 0 0 5px black;
            margin-right: vw(10px);
        }
    }
}



@media screen and (max-width: $mobile-screen-vw) {
    .login{
        width: 100%;
        border: none;
        margin-top: mobile_vh(10px);

        &__email{
            margin: 0;
            input{
                padding: mobile_vh(10px) mobile_vw(10px);
                width: calc(100% - $input-side-padding * 2);
                font-size: mobile_vw(18px);
                margin: 0;
                border-radius: 0;
            }
            span{
                display: none;
            }
            &.error{
                span{
                    margin-left: mobile_vw(24px);
                    font-size: mobile_vw(18px);
                }
            }
        }
        &__password{
            margin: 0;
            input{
                padding: mobile_vh(10px) mobile_vw(10px);
                width: calc(100% - $input-side-padding * 2);
                font-size: mobile_vw(18px);
                margin: 0;
                border-radius: 0;
            }
            span{
                display: none;
            }
            &.error{
                margin: mobile_vh(10px) 0;
                input{
                    padding-left: mobile_vw(8px);
                    font-size: mobile_vw(16px);
                }
                span{
                    margin-left: mobile_vw(24px);
                    font-size: mobile_vw(18px);
                }
            }
        }
        &__rememberMe_wrap{
            display: none;
        }
        &__rememberMe{
            margin: mobile_vh(10px) 0 mobile_vh(20px) 0;
            input{
                height: mobile_vh(20px);
                width: mobile_vw(20px);
                margin-right: mobile_vw(10px);
            }
        }
    }
}




