.container{
  width: 70%;
  margin: 0px auto;
  display: flex;
}


button{
  height: 27px;
  color: #fff;
  border: 1px solid rgb(174, 170, 170);
  border-radius: 5px;
  padding: 0px 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: linear-gradient(180deg, rgb(23, 65, 171), purple);
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  box-shadow:inset -3px 3px 3px 0px rgba(255,255,255,.5),
             7px 7px 20px 0px rgba(0,0,0,.1),
             7px 7px 5px 0px rgba(0,0,0,.1);
  outline: none;
}