.dialogs{
    box-sizing: border-box;
    width: 88%;
    min-height: 550px;
    background: white;
    padding: 2%;
    border-radius: 1rem;
    margin-top: 10px;
    &__own{
        padding: 0 2rem;
    }
    &__myself{
        width: 88%;
        height: 290px;
        border-radius: 1rem;
        background: rgb(255, 255, 255);
        font-style: italic;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 30px 0px;
        span{
            font-size: 2rem;
            text-shadow: 0px 0px 8px rgb(56, 55, 55);
        }
    }
}

@media screen and (max-width: 1300px){
    .dialogs{
        &__myself{
            font-size: 1.1em;
        }
    }
}

@media screen and (max-width: 768px){
    .dialogs{
        span{
            font-size: 1.3rem;
        }
        &__myself{
            margin: 0 auto;
            span{
                font-size: 1.3rem;
            }
        }
    }
}


@media screen and (max-width: 490px){
    .dialogs{
        span{
            font-size: 1.1rem;
        }
        &__myself{
            span{
                font-size: 1.1rem;
            }
        }
    }
}
